<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kalkulator ostrzenia</title>
    <link rel="stylesheet" href="{{ asset('assets/index-DgwDzVXa.css') }}">
</head>
<body>
    <div id="root"></div>
    <script src="{{ asset('assets/index-BL7rojc9.js') }}"></script>
</body>
</html>